/****************************
	www.progettodighe.it - common IE 6
	autore: Elvis Del Tedesco
	mailto: elvis.deltedesco(at)phante.com
	data:	14/10/2009
	ver: 	2.0
****************************/

/****************************
	Tag Globali 
****************************/

/****************************
	Elementi principali 
****************************/

/****************************
	Elementi header 
****************************/

#title_googlesearch_box {
	background: url('../images/sfondo_casella_google.jpg');
}

#title_googlesearch_corner {
	background-color: transparent;
}

#title_googlesearch {
	background-color: transparent;
}

/****************************
	Elementi footer 
****************************/

/****************************
	Elementi contents
****************************/

/****************************
	Elementi per il contenuto dentro contents
****************************/

/****************************
	Classi per il sommario
****************************/

/****************************
	Classi per la rubrica
****************************/

/****************************
	Classi per articoli
****************************/

/****************************
	Classi generiche
****************************/
